<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Status}} - {{.Message}}</title>
    </head>
    <body style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; margin: 0; 
        background: linear-gradient(45deg,rgb(228, 76, 76), rgb(227, 105, 105), rgb(222, 211, 111)); font-family: 'Arial', sans-serif">
        <h1 style="font-size: 3em; color: black;">Oops! Something Went Wrong</h1>
        <p style="font-size: 1.5em;">{{.Status}} - {{.Message}}</p>
        <!-- <a href="/" style="display: inline-block; font-size: 1.2em; color: white; text-decoration: none; background-color: #333;
            padding: 10px 20px; border-radius: 5px; border: none; cursor: pointer; text-align: center; margin-top: 20px;">Go back to Homepage</a> -->
    </body>
</html>