<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emoji Converter Webpage</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
        </style>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="/static/script.js"></script>
        

    </head>
    <body>
        <h1>✨Emoji Converter✨</h1>
        <!-- <h3>Convert emoji names to symbols</h3> -->
        <div class="page-container">
            <!-- Left Section: Add New Emoji Form -->
            <div class="add-emoji-form">
                <h3>Add New Emoji</h3>
                <input type="text" id="newEmojiName" placeholder="Emoji name">
                <input type="text" id="newEmojiSymbol" placeholder="Emoji symbol">
                <div class="button-container">
                    <button type="button" onclick="clearAddEmojiForm()">Refresh</button>
                    <button onclick="addEmoji()">Add Emoji</button>
                </div>
                <div id="addEmojiStatus"></div>
            </div>

            <!-- Right Section: Emoji Converter Form -->
            <div class="emoji-converter-form">
                <form method="POST" action="/" autocomplete="off"> 
                    <div style="position: relative;">
                        <div id="suggestions">
                            <ul></ul>  
                        </div>     
                        <h3>Search Emojis</h3>
                        <input type="text" name="input-text" value="{{.InputText}}" placeholder="Enter emoji name" 
                            id="emojiInput" oninput="fetchSuggestions(this.value)" autocomplete="off"/>
                        </div>
                        <div class="button-container2">
                            <button type="button" onclick="clearInput()">Refresh</button>
                            <input type="submit" onclick="submitForm()" value="Convert"/>
                        </div>
                </form>
                <!-- Form to display output -->
                <form>
                    <div id="output-container" class="output-container">{{.Emoji}}</div>
                </form>
            </div>
        </div>
        <!-- Footer Section -->
        <footer class="footer">
            <p>&copy; 2025 Emoji Converter Webpage. All rights reserved. Creator:<a href="https://github.com/mareerray" target="_blank" 
                style="color: white; text-decoration: none;"> Mayuree Reunsati 🌻 </a> </p>
        </footer>
    </body>
</html>